@import url('https://fonts.googlepis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
.container{
    position: relative;
    margin-top: 50px;
    width: 100%;
    max-width: 65vw;
    max-height: 100vh;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0 , 0 , 0.2);
}
.container .left_side {
    position: relative;
    background: #003147;
    padding: 40px;
}
.profiletext .imgbx{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgbx img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.3em;
}
.profiletext h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;  
    margin-bottom: 20px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    position: relative;
    display: flex;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li .icon{
    padding-right: 10px;
    font-size: 18px;  
    color: #03a9f4;
}
.contactinfo ul li span {
    color: #fff;
    font-weight: 3000;
}
.contactinfo {
    padding-top: 40px;
}
.contactinfo.education li{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.contactinfo.education h5{
    padding-bottom: 5px;
    color: #03a9f4;
    font-weight: 500;
}
.contactinfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}
.contactinfo.education h4 {
    color: #fff;
    font-weight: 300;
}  
.contactinfo.language .percent{
    position: relative;
    width:100% ;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactinfo.language .percent div{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.contactinfo.language li {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.container .right_side {
    position: relative;
    background: #fff;
    padding: 40px;
} 

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.box .text p {
    color: #333;
    padding-top: 10px;
    line-height: 23px;
} 
.about .box{
   display: flex; 
   margin: 20px 0;
}
.about .box .project{
    min-width: 150px;
}
.box .project h4{
    text-transform: uppercase;
    color: #003147;
}
.box .text h4{
    text-transform: uppercase;
    word-spacing: 3px;
    color: #2a7da2;
    font-size: 16px;
}
.skill .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skill .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-family: 500;
}
.skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skill .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fas{
    color: #03a9f4;
    font-size: 18px;
    padding-right: 10px;
}
.interest ul li .fab{
    color: #03a9f4;
    font-size: 18px;
    padding-right: 10px;
}

@media (max-width: 1000px)
{
    .container{
        max-width: 85vw;
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .container{
        max-width: 80vw;
    }
    .about .box{
        flex-direction: column;
    }
    .about .box .project{
        min-width: 150px;
        margin-bottom: 10px;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }
    .skill .box{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 500px) {
    .container{
        max-width: 100vw;
    }
}
